################################################################################
# Optimized .gitignore file for X-ZIGZAG Project
################################################################################

# Ignore build outputs
**/bin/
**/obj/
.vs/
/X-ZIGZAG.GUI/.angular/
/X-ZIGZAG.GUI/node_modules/
/X-ZIGZAG.GUI/src/environments/environment.development.ts
/X-ZIGZAG.Server/X-ZIGZAG SERVER WEB API/Uploads/
